*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    background: url(https://res.cloudinary.com/dsdcaxwpg/image/upload/v1717198887/yoga2_z5v2wo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    font-family: 'roboto',sans-serif;
    
}

.form{
    margin-left: 180px;
    width: 480px;
    height: 500px;
    color: #fff;
    top: 100px;
    font-family: 'roboto',sans-serif;
    align-items: center;
    background-image:linear-gradient(to bottom,rgba(255, 149, 0, 0.769),rgba(255, 221, 0, 0.832),rgba(241, 114, 250, 0.809)) ;
    opacity: 0.9;
    border-radius: 10px;
}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    
}

input,.submit-btn{
    width: 80%;
    height: 42px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: 5px;
    text-transform: capitalize;
    font-size: medium;
}

input::placeholder{
    color: #fff;

}

input:focus,.submit-btn:hover{
    background: #fff;
    color: #000;
    box-shadow: 0px 0px 20px white;
    opacity: 0.8;
}
input:hover{
    box-shadow: 0px 0px 20px white;
}
input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}

.link{
    text-align: center;
    text-transform: capitalize;
    color: rgba(255,255,255,0.5);
    display: block;
    margin: 30px auto;
}

.cross:hover,.cross:active{
    color: #000;
}
.cross{
    font-size: 30px;
    margin-left: 445px;
    color: #fff;
    
}

.link:hover{
    color: #fff;
}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255,119,119);
    border-top: 10px solid rgb(255,37,37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto',sans-serif;
    text-align: center;
    transition: 1s;
}